
body{
    font-family: roboto!important;
    font-variant-alternates: sans-serif; 
    margin: 0;
    padding: 0;
    background-color:#FFEDE6;
}

.inhalt{
    margin-left: 2vw;
    font-size: 1.4em;
}
code{
    
    border-left: 2em solid;
    border-color: transparent;
}
#komplett{
    border-left: 2em solid;
    border-color: transparent;
}
#komplett code{
    border-left: none;
    border-color: transparent;
}

