body{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    background-color: #18171c;
}
.navbar a{
    text-decoration: none;
    color: #dbdbdb;
    line-height: 1;
    letter-spacing: 0.2em;
}
.navbar a:hover
{
    color:#7851a9;
    transition:200ms;
    
}
.navbar ul{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-left:10%;
    margin-right:10%;
}
.navbar li{
    list-style:none;
    padding: 2vh 2vw 0vh 0vw;
    text-align: left;
    font-size: 1.5em;
}
#github-bild {
    position: absolute;
    filter: grayscale(1) invert(1);
    margin-top: -0.2vh;
}
.profile img{
    max-width: 100%;
    width: 20%;
    border-radius: 50%;
    border: 20px solid;
    
}
.profile{
    display: flex;
    justify-content:center;
    align-items: center;
}