body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.home{
    width: 100%;
    height: auto;
    background-image:url(bilder/Homebild3.png);
    background-size:100% 100%;
    
}
.hometext{
    color:white;
    font-weight: bold;
    font-size:2.9em;;
    padding: 2.97em;
    padding-bottom:-14vh;
    text-align: center;
    max-height: 49vh;
    text-align: center;
    background-repeat: no-repeat;
    height:auto;

}
.effekt{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4);
    
}

.seiteninhalt{
    width:100%;
    max-width:1920px;
    justify-content:center;
    margin: 0 auto;
    
}
.geschichte{
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows: minmax(50rem,auto);

}
.AbbildungGeschichte{
    display:flex;
    align-items:center;
    margin: 0 auto;
    margin-left: 3vw;
    margin-right: 3vw;
    

}
.AbbildungGeschichte img{
    border: 0.9em solid;
    border-right: -2vw;
    height:auto;
    max-width: 100%;
    
}
.geschichtetext{
    height:auto;
    background-color: #22282D;
    color:#fff;
    padding-left: 3vw;
    padding-bottom: 10vh;
    
}
.geschichtetext h1{
    font-size:3em;
    text-align: center;

}
.geschichte li{
    text-align: left;
    padding-left:1vw;
    font-family: arial;
    padding-top: 1vh;
    font-size: 2em;
    max-width: 100%;
    padding-right: 2vw;
}
a{
    font-size:50px;
    color:black;
}

.inhaltsstoffe{
    background-color: #EDE6C5;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top:-3.3vh;

}
.inhaltsstoffe h1{
    padding: 4vh;
    font-size: 3em;
}
 @media (min-width:1380px) {
    .stoffe{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: minmax(50rem auto);
        align-content: center;
        max-width: 100%;
        
    }
    .Hash{
        margin-bottom: 5vh;
    }
    .hash-bild img{
        float:left;
        width:25%;
        margin-left:1vw;
    
    }
    .hashtext{
        font-size:2em;
        padding-bottom: 10vh;
        padding-top: 8vh;
        text-align: left;
        margin-left: 30vw;
        
    }
    
    
    .Mario img{
        float: right;
        width:25%;
        margin-right: 1vw;
        
    
    }
    .Mario p{
        font-size:2em;
        padding-top: 8vh;
        text-align: left;
        padding-bottom: 20vh;
        padding-left: 4vw;
    }
     
 }
 @media(max-width:1380px) {
    .stoffe{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: minmax(50rem auto);
        align-content: center;
        max-width: 100%;
        
    }
    .Hash{
        margin-bottom: 5vh;
    }
    .hash-bild img{
        display:block;
        width:50%;
        margin:auto ;
        
        
    
    }
    .hashtext{
        font-size:2em;
        padding-bottom: 10vh;
        padding-top: 4vh;
        text-align: left;
        margin-left: 3vw;
        
    }
    
    
    .Mario img{
        display:block;
        width:50%;
        margin: auto;

        
    
    }
    .Mario p{
        font-size:2em;
        padding-bottom: 10vh;
        padding-top: 4vh;
        text-align: left;
        margin-left: 3vw;
    }

     
 }

.stoffe h1{
    font-size:1.9rem;
}
.Wirkung{
    background-color:#6865A1;
    color:#fff;
    text-align: center;
    margin-top:-4vh;
    height: auto;
}
.Wirkung h1{
    padding: 4vh;
    font-size: 3em;
}




