body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.home{
    width: 100%;
    height: auto;
    background-image:url(bilder/Homebild3.png);
    background-size:100% 100%;
    
}
.hometext{
    color:white;
    font-weight: bold;
    font-size:2.9em;
    padding: 2.97em;
    padding-bottom:-14vh;
    text-align: center;
    max-height: 49vh;
    text-align: center;
    background-repeat: no-repeat;
    height:auto;

}
.effekt{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4);
    
}

.seiteninhalt{
    width:100%;
    max-width:1920px;
    justify-content:center;
    margin: 0 auto;
    
}
.geschichte{
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows: minmax(50rem,auto);

}
.AbbildungGeschichte{
    display:flex;
    align-items:center;
    margin: 0 auto;
    margin-left: 3vw;
    margin-right: 3vw;
    

}
.AbbildungGeschichte img{
    border: 0.9em solid;
    border-right: -2vw;
    height:auto;
    max-width: 100%;
    
}
.AbbildungGeschichte figcaption{
    font-size: 2em;
}
.geschichtetext{
    height:auto;
    background-color: #22282D;
    color:#fff;
    padding-left: 3vw;
    padding-bottom: 10vh;
    
}
.geschichtetext h1{
    font-size:3em;
    text-align: center;

}
.geschichte li{
    text-align: left;
    padding-left:1vw;
    font-family: arial;
    padding-top: 1vh;
    font-size: 2em;
    max-width: 100%;
    padding-right: 2vw;
}
a{
    font-size:50px;
    color:black;
}

.inhaltsstoffe{
    background-color: #EDE6C5;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top:-3.3vh;

}
.inhaltsstoffe h1{
    padding: 4vh;
    font-size: 3em;
}
 @media (min-width:1380px) {
    .stoffe{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: minmax(50rem auto);
        align-content: center;
        max-width: 100%;
        
    }
    .Hash{
        margin-bottom: 5vh;
        display: flex;
        flex-direction: row-reverse;

    }
    .hash-bild img{
        width:75%;
        margin-left:1vw;
        border:0.5em solid;
        border-color: #FDF5E6;
        
    
    }
    .hashtext{
        font-size:2em;
        padding-bottom: 20vh;
        padding-top: 8vh;
        text-align: left;
        margin: auto;
        max-width: 90%;
        margin-left: 5vw;
        
    }
    
    
    .Mariobild img{
        width:75%;
        border:0.5em solid;
        border-color: #FDF5E6;

    }
    .Mario{
        display: grid;
        grid-template-columns:50% 50%;
    }

    .Mariotext{
        font-size:2em;
        padding-top: 0vh;
        text-align: left;
        padding-bottom: 0vh;
        padding-left: 2vw;
        margin-left:0vw;
        margin: auto;
        max-width:90%;
    }
    .stoffe h1{
        font-size:1.9rem;
    }
    .Synapsebild{
        margin-top:-20vh;
        float:right;
        height:auto;
    }
    .Synapsebild img{
        width:100%
        
    }
    .Synapsetext{
        font-size:2em;
        padding-top: 0vh;
        text-align: left;
        padding-bottom: 50vh;
        padding-left: 3vw;
        margin-left:0vw;

    }
    .Synapse{
        height:auto;
        margin-top: 30vh;
        
    }
    .Synapseall{
        display: flex;
        flex-direction: row-reverse;
    }
     
 }
 @media(max-width:1380px) {
    .stoffe{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: minmax(50rem auto);
        align-content: center;
        max-width: 100%;
        
    }
    .Hash{
        margin-bottom: 5vh;
    }
    .hash-bild img{
        display:block;
        width:50%;
        margin:auto ;
        border:0.5em solid;
        border-color: #FDF5E6;
        
        
    
    }
    .Synapsebild img{
        display:block;
        width:50%;
        margin:auto ;
        border:0.5em solid;
        border-color: #FDF5E6;
        
    }
    .Synapsetext{
        font-size:2em;
        padding-bottom: 10vh;
        padding-top: 4vh;
        text-align: center;
        margin-left: 3vw;

    }
    .hashtext{
        font-size:2em;
        padding-bottom: 10vh;
        padding-top: 4vh;
        text-align: center;
        margin-left: 3vw;
        
    }
    
    
    .Mario img{
        display:block;
        width:50%;
        margin: auto;
        border:0.5em solid;
        border-color: #FDF5E6;

        
    
    }
    .Mario li{
        font-size:2em;
        padding-bottom: 1vh;
        padding-top: 0vh;
        text-align: center;
        margin-left: 3vw;
        
    }
    .stoffe h1{
        font-size:1.5em;
    }

     
 }


.Wirkung{
    background-color:#6865A1;
    color:#fff;
    text-align: center;
    margin-top:-4vh;
    height: auto;
}
.Wirkung h1{
    padding: 4vh;
    font-size: 3em;
}
.Wirkung h2{
    text-align:left;
    margin-left: 2vw;
    margin-bottom: 7vh;
    font-size: 2em;
}
.Anwendung{
    background-color:#6587AD;
    margin-top: -4vh;
    color: white;
    text-align: center;
    height: auto;
    
}

.Anwendung h1 {
    padding: 4vh;
    font-size: 3em;
}
.Anwendung table{
    margin: auto;
    font-size: 2em;
    border: 0.2em solid;
    border-color: black;
    text-align: left;
    border-spacing: 0.8em;
}
.Risiken{
    background-color:#63BABA;
    text-align:center;
    height: auto;
    margin-top: -3vh;

}
figcaption{
    font-size: 2em;
}
.therapie{
    background-color:#5FC78C;
    text-align: center;
    height: auto;
}
.placeholder{
    padding-bottom: 4vh;
}






