body{
    font-family: roboto!important;
    font-variant-alternates: sans-serif; 
    margin: 0;
    padding: 0;
    background-color:#FFEDE6;
}
.navbar{
    display: flex;
    justify-content:center;
    margin:0 auto;
    border-bottom: 0.1em solid;
    border-color: rgb(187, 187, 187);
    padding-bottom: 2vh;
    
}
.navbar a{
    text-decoration: none;
    color: black;
    line-height: 1;
    letter-spacing: 0.2em;
}
.navbar a:hover
{
    color:#7851a9;
    transition:200ms;
    
}
.navbar ul{
    display:flex;
    flex-direction:row;
    
}
.navbar li{
    list-style:none;
    padding: 2vh 2vw 0vh 2vw;
    text-size-adjust: 100%;
    text-align: left;
    font-size: 1.5em;
    position: relative;
}
#github-bild {
    position: absolute;
    margin-top: -0.2vh;
}
.verticalnavbar li{
    list-style-type: none;
    margin:1.5vh auto; 

}
.verticalnavbar a{
    text-decoration:none;
    color: black;
    

}
.verticalnavbar a:hover{
    text-decoration:underline;
}
.verticalnavbar a:visited a:link{
    background-color: green;
}
.verticalnavbar ul{
    height:40vh;
    border-right: 0.1em solid;
    box-shadow: 2em;
    
    padding-right: 3vw;
    overflow-y:auto;
    display: block;
    
}
.verticalnavbar{
    display: block;
    margin: 0 4vw 0 0;
    width: 100%;
    height: 100%;

}
#split{
    margin-left:5%;
    margin-top:0.4%;
    margin-right: 5%;
    display:grid;
    grid-template-columns: 1fr 5fr;
    
}
.inhalt{
    margin-left: 2vw;
}
.inhalt img{
    width: 70%;

}

